body {
    background-color: #1a1a2e; /* Fondo oscuro */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    background-color: #16213e;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #4cc9f0;
}
h1 {
    color: #4cc9f0; /* Azul neón */
    margin: 0;
}
nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.container {
    width: 90%;
    margin: 20px auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.card {
    background-color: #0f3460;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.card-img-placeholder {
    background-color: #000;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border: 1px dashed #4cc9f0;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    font-size: 0.8em;
    color: #888;
}